.delete {
  background: #ddd;

  padding: 0.3rem 0.6rem;

  line-height: 1;

  border: 1px solid transparent;

  font-size: 0.825rem;

  font-family: var(--type-first);

  cursor: pointer;

  border-radius: 0.4rem;
  transition: 0.1s;
}

.delete:hover {
  outline: none;

  background: white;

  box-sizing: 0 0 0 3px #eee;

  border-color: #333;
}
